openapi: 3.2.0
info:
  title: USDA FoodData Central Nutrients API
  description: The FoodData Central API provides REST access to FoodData Central (FDC), the USDA's integrated data system providing expanded nutrient profile data linked to agricultural and experimental research. Covers Foundation Foods, SR Legacy, FNDDS, Branded Foods, and Experimental Foods. An API key from api.data.gov is required.
  version: 1.0.0
  contact:
    name: USDA FoodData Central
    url: https://fdc.nal.usda.gov/
    email: FSISWebmaster@usda.gov
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://api.nal.usda.gov/fdc/v1
  description: USDA FoodData Central API
tags:
- name: Nutrients
  description: Nutrient data and lists
paths:
  /nutrients:
    get:
      operationId: getNutrients
      summary: Get All Nutrients
      description: Retrieve a list of all nutrients available in FoodData Central with their IDs, names, units, and categories.
      tags:
      - Nutrients
      parameters:
      - name: api_key
        in: query
        description: API key from api.data.gov
        required: true
        schema:
          type: string
        example: DEMO_KEY
      responses:
        '200':
          description: List of all available nutrients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Nutrient'
components:
  schemas:
    Nutrient:
      type: object
      description: A nutrient tracked in FoodData Central
      properties:
        id:
          type: integer
          description: Unique nutrient identifier
        number:
          type: string
          description: USDA nutrient number
        name:
          type: string
          description: Nutrient name
        rank:
          type: integer
          description: Display rank
        unitName:
          type: string
          description: Unit of measure
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: API key from https://api.data.gov/signup/
