openapi: 3.2.0
info:
  title: USDA NRCS AWDB Water and Climate REST Data API
  description: The USDA Natural Resources Conservation Service (NRCS) Air and Water Database (AWDB) REST API provides access to snow, water, and climate monitoring data from SNOTEL (SNOw TELemetry) stations, Soil Climate Analysis Network (SCAN) stations, and other monitoring sites. Supports retrieval of station metadata, current conditions, and historical data for water resource management and forecasting.
  version: 1.0.0
  contact:
    name: USDA NRCS National Water and Climate Center
    url: https://www.nrcs.usda.gov/programs-initiatives/sswsf-snow-survey-and-water-supply-forecasting-program
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://wcc.sc.egov.usda.gov/awdbRestApi/services/v1
  description: USDA NRCS AWDB REST API
tags:
- name: Data
  description: Station data retrieval
paths:
  /data:
    get:
      operationId: getStationData
      summary: Get Station Data
      description: Retrieve time-series data for one or more monitoring stations, including snow water equivalent, precipitation, temperature, soil moisture, and other climate variables.
      tags:
      - Data
      parameters:
      - name: stationIds
        in: query
        description: Comma-separated station IDs
        required: true
        schema:
          type: string
        example: 301:ID:SNTL
      - name: elementCds
        in: query
        description: Element codes to retrieve (WTEQ=Snow Water Equivalent, PREC=Precipitation, TOBS=Air Temperature Observed, SMS=Soil Moisture)
        required: true
        schema:
          type: string
        example: WTEQ,PREC,TOBS
      - name: beginDate
        in: query
        description: Start date (YYYY-MM-DD)
        required: false
        schema:
          type: string
          format: date
        example: '2024-01-01'
      - name: endDate
        in: query
        description: End date (YYYY-MM-DD)
        required: false
        schema:
          type: string
          format: date
        example: '2024-04-30'
      - name: duration
        in: query
        description: Data duration/temporal resolution
        required: false
        schema:
          type: string
          enum:
          - DAILY
          - MONTHLY
          - ANNUAL
          default: DAILY
      responses:
        '200':
          description: Station time-series data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationData'
components:
  schemas:
    StationData:
      type: object
      description: Time-series data from a monitoring station
      properties:
        stationId:
          type: string
          description: Station identifier
        elementCode:
          type: string
          description: Measurement element code
        elementName:
          type: string
          description: Measurement element name
        storedUnitCode:
          type: string
          description: Unit of measurement
        duration:
          type: string
          description: Temporal resolution
        values:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
                description: Measurement date
              value:
                type: number
                description: Measured value
              qualityControlCode:
                type: string
                description: Data quality indicator
