openapi: 3.2.0
info:
  title: USDA NRCS AWDB Water and Climate REST Forecasts API
  description: The USDA Natural Resources Conservation Service (NRCS) Air and Water Database (AWDB) REST API provides access to snow, water, and climate monitoring data from SNOTEL (SNOw TELemetry) stations, Soil Climate Analysis Network (SCAN) stations, and other monitoring sites. Supports retrieval of station metadata, current conditions, and historical data for water resource management and forecasting.
  version: 1.0.0
  contact:
    name: USDA NRCS National Water and Climate Center
    url: https://www.nrcs.usda.gov/programs-initiatives/sswsf-snow-survey-and-water-supply-forecasting-program
  license:
    name: Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://wcc.sc.egov.usda.gov/awdbRestApi/services/v1
  description: USDA NRCS AWDB REST API
tags:
- name: Forecasts
  description: Water supply forecasts
paths:
  /forecasts:
    get:
      operationId: getWaterSupplyForecasts
      summary: Get Water Supply Forecasts
      description: Retrieve water supply forecasts for forecast points, including streamflow volume forecasts by probability exceedance levels.
      tags:
      - Forecasts
      parameters:
      - name: stationIds
        in: query
        description: Forecast point station IDs
        required: false
        schema:
          type: string
      - name: stateCds
        in: query
        description: State codes to filter forecasts
        required: false
        schema:
          type: string
        example: ID
      - name: forecastPeriodCds
        in: query
        description: Forecast period codes (e.g. JAN-SEP)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Water supply forecasts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WaterForecast'
components:
  schemas:
    WaterForecast:
      type: object
      description: Water supply forecast record
      properties:
        stationId:
          type: string
          description: Forecast point station ID
        stationName:
          type: string
          description: Station name
        state:
          type: string
          description: State code
        forecastPeriod:
          type: string
          description: Forecast period (e.g. JAN-SEP)
        issuedDate:
          type: string
          format: date
          description: Date forecast was issued
        forecastValues:
          type: array
          items:
            type: object
            properties:
              exceedanceProbability:
                type: integer
                description: Exceedance probability percentage (10, 30, 50, 70, 90)
              volumeKAF:
                type: number
                description: Forecast volume in thousand acre-feet
